<div class="container">
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script> 


  <div class="center-align" style="color: #D18C8C">
    <h2>{{title}}</h2>
  </div>

  <app-news-list></app-news-list>

  <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Hacker News</h5>
            <p class="grey-text text-lighten-4">Hacker News is a social news website focusing on computer science and entrepreneurship. It is run by Paul Graham's investment fund and startup incubator, Y Combinator. In general, content that can be submitted is defined as "anything that gratifies one's intellectual curiosity".</p>
          </div>

        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2018 Adrian Natter
        <a class="grey-text text-lighten-4 right" href="https://github.com/cheeaun/node-hnapi">Used Hacker News API</a>
        </div>
      </div>
    </footer>

</div>

